<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" tools:ignore="ScopedStorage"></uses-permission>
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.PurPlePlay_Android"
        tools:targetApi="31"
        tools:ignore="AllBackup"
        >
        <activity android:name=".ViewModel.HomeScreenActivity" android:screenOrientation="portrait" tools:ignore="LockedOrientationActivity" ></activity>
        <activity android:name=".ViewModel.PlaylistActivity" android:screenOrientation="portrait"></activity>
        <activity android:name=".ViewModel.Musichome_Activity" android:screenOrientation="portrait"></activity>
        <activity android:name=".ViewModel.FavoriteActivity" android:screenOrientation="portrait"></activity>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>